<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">Даскало</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Teacher" asp-controller="Groups" asp-action="Index">Групи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Teacher" asp-controller="Topics" asp-action="Index">Теми</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Teacher" asp-controller="Resources" asp-action="Index">Ресурси</a>
                </li>
            </ul>

            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-outline-light disabled">Учител</a>
                <a class="btn btn-outline-warning" asp-area="SchoolAdmin" asp-controller="Home" asp-action="Index">Администратор</a>
            </div>

            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>