@{
    ViewData["Title"] = "Съобщение за активация на профил.";
}

<div class="text-center">
    <h3 class="text-secondary">@ViewData["Title"]</h3>
</div>
<div class="row">
    <p>
        Вашият профил все още не е активиран или блокиран. Вероятно сте били препратени към
        тази страница, защото сте се опитали да влезете в системата с
        неактивен профил.
    </p>
    <p>
        Профилът Ви изисква активация от администратора на училището.
        Моля изчакайте или се свържете с администратора или училищния персонал,
        за да завършите процеса на активация или отблокиране на вашия профил.
    </p>
    <p>Благодарим Ви за разбирането!</p>
    <p>
        С уважение,<br />
        Екипът на Даскалник
    </p>
</div>